.DIV01 {
    background-image: url(/Practica01/TrabajoEnClase/gif-gato-1519137077.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: purple;
}
.DIV02{

    background-image: url(/Practica01/TrabajoEnClase/slide_303383_2577028_free\ \(1\).gif);
    background-size: contain;
    background-repeat: no-repeat;
    
    background-color: aqua;
}