.div01{
    background-color: black;
    border-style: solid;
    border-color: red;
    border-radius: 25px;
}
.divtexto01{
    color: white;
    border-style: solid;
}
.div02{
    color: white;
}
.tabla{
    color: blue;
}